body {
    font-family: Arial;
    background-color: #f0f0f0;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: blue;
}

img {
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}
